<h1 mat-dialog-title>Editar País</h1>
<div mat-dialog-content>
  <form [formGroup]="paisForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del País</mat-label>
      <input matInput formControlName="nombre_pais" required />
      <mat-error *ngIf="paisForm.get('nombre_pais')?.hasError('required')">Este campo es requerido</mat-error>
      <mat-error *ngIf="paisForm.get('nombre_pais')?.hasError('maxlength')">El nombre es demasiado largo</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="paisForm.invalid">Guardar</button>
</div>