<div class="container__dialog">
  <h1 mat-dialog-title>Nuevo Colaborador</h1>
  <div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="colaboradorForm">

      <mat-form-field>
        <mat-label>CUI Colaborador</mat-label>
        <input matInput formControlName="id_cui_colaborador" required />
        <mat-error *ngIf="colaboradorForm.get('id_cui_colaborador')?.hasError('required')">
          El CUI es obligatorio.
        </mat-error>
        <mat-error *ngIf="colaboradorForm.get('id_cui_colaborador')?.hasError('pattern')">
          El CUI debe ser un número de 13 dígitos.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombres_colaborador" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos_colaborador" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput formControlName="fecha_nacimiento_colaborador" type="date" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono_colaborador" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correo_electronico_colaborador" type="email" required />
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button color="primary" type="submit" [disabled]="!colaboradorForm.valid">Guardar</button>
      </div>
    </form>
  </div>
</div>